/* body,
h1 
h2, 
h3,
h4,
h5,
h6 

body

html 

.panel{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}


li {
    list-style-position: inside;
    text-align: left;
    text-indent: 10px;
}
/*  */
.clCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 100px;
    width: 300px;
    padding: 10px;
}
/* On mouse-over, add a deeper shadow */
/*
.clCard :empty {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
*/

.domBox{
    border: 4px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.726);
    width: 260px;
    padding: 10px;
    /* margin: auto; */
    text-align: center;
    align-content: center;
    justify-content: center;  
    padding: 15px;
    border-radius: 10px;
    
/*     
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.726);
    margin: 15px;
    text-align: center;
    background-color: rgb(227, 203, 241);

    font-size: 2rem; */
}